<app-navbar></app-navbar>
<div class="centrado">
  
  <div class="container text-center">
    <h2 class="center">Lista de Equipos</h2>
    <div class="list-group col-6 col-lg-6 col-lg-offset-2">
      <a href="#" class="list-group-item list-group-item-action ">Primer Equipo</a>
      <a href="#" class="list-group-item list-group-item-action ">Segundo Equipo</a>
      <a href="#" class="list-group-item list-group-item-action ">Tercer Equipo</a>


    </div>

  </div>



<!-- <script src="js/jquery-3.2.1.min.js"></script> -->
<script type="js/bootstrap.min.js"></script>

</div>

<footer>
    <div class="row footer">
      <div class="col-4 p-5">
        <h3 class="text-light">MetroUber</h3>
      </div>
    </div>
  </footer>



