<div class="centrado">
  <div class="container text-center">
    <br>
    <div>
      <div class="card text-center unica">
        <div class="card-block">
          <div class="card-tittle">
            <h2>Nombre del Grupo</h2>
          </div>
          <div class="card-text">Direccion</div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Daniel Velasquez</th>
                <td>04241400496</td>
                <td>daniel@gmail.com</td>
                <td><a href="#" class="btn btn-success">Pedir Cola</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                </td>

              </tr>
              <tr>
                <th scope="row">Kaiser Melkon</th>
                <td>04167189021</td>
                <td>kaiser@gmail.com</td>
                <td><a href="#" class="btn btn-success">Pedir Cola</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                  </td>
              </tr>
              <tr>
                <th scope="row">Juan Grullon</th>
                <td>04126178910</td>
                <td>juanete@gmail.com</td>
                <td><a href="#" class="btn btn-success">Pedir Cola</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                  </td>
              </tr>
              <tr>
                <th scope="row">Veronica Lugli</th>
                <td>04142819012</td>
                <td>vero@gmail.com</td>
                <td><a href="#" class="btn btn-success">Pedir Cola</a>
                    <a href="#" class="btn btn-danger">Eliminar</a>
                </td>
              </tr>
            </tbody>
          </table>
          <a style="margin-top: 10px;" href="/inicio" class="btn btn-secondary">Regresar</a>
        </div>
      </div>
    </div>

  </div>

  <script type="js/bootstrap.min.js"></script>

</div>

<footer>
  <div class="row footer">
    <div class="col-4 p-5">
      <h3 class="text-light">MetroUber</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</footer>
