<div class="centrado">
  <div class="container text-center">
    <br>
    <div>
      <div class="card text-center unica">
        <div class="card-block">
          <div class="card-tittle">
            <h2>Nombre del Grupo</h2>
          </div>
          <div class="card-text">Direccion</div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <th scope="row">{{usuario.nombre}}</th>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.correo}}</td>
                <td>
                  <button href="#" class="btn btn-success" [disabled]="conCarro(usuario)" data-toggle="modal"
                    data-target="#modal7" (click)="activarModal(usuario)">Pedir Cola</button>
                  <button href="#" class="btn btn-danger" [disabled]="!eliminarEnabled(usuario)"
                    (click)="eliminar(usuario)">Eliminar</button>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

  <script type="js/bootstrap.min.js"></script>

</div>

<footer>
  <div class="row footer">
    <div class="col-4 p-5">
      <h3 class="text-light">MetroUber</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</footer>

<!-- Modal Datos Usuario -->
<div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos del Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-row">
            <h4>Información del Usuario</h4>
            <blockquote>
              <p>Nombre: {{this.usuarioModal.nombre}}</p>
              <p>Telefono: {{this.usuarioModal.telefono}}</p>
              <p>Correo: {{this.usuarioModal.correo}}</p>
            </blockquote>
            <h4>Carro</h4>
            <blockquote>
              <p>Placa: {{this.carroService.carro.placa}}</p>
              <p>Marca: {{this.carroService.carro.marca}}</p>
              <p>Modelo: {{this.carroService.carro.modelo}}</p>
              <p>Año: {{this.carroService.carro.ano}}</p>
              <p>Color: {{this.carroService.carro.color}}</p>
            </blockquote>
            <br>
            <button type="button" class="btn btn-secondary espacio" data-dismiss="modal">Pedir Cola</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>