<nav>
  <div class="logo">
    <h4>MetroUber</h4>
  </div>
  <div class="burger" (click)="Open()" *ngIf="authService.isAuthenticated()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <ul [ngClass]="{'open': isOpen}" class="nav-links" *ngIf="authService.isAuthenticated()">
    <li><a class="btn" href="./inicio">Inicio</a></li>
    <li><a class="btn" href="./perfil">Perfil</a></li>
    <li><a class="btn" data-toggle="modal" data-target="#modal">Crear Grupo</a></li>
    <li><a class="btn" data-toggle="modal" data-target="#modal2">Unirse a Grupo</a></li>
    <li><a class="btn" (click)="authService.logoutUser()">Salir</a></li>
  </ul>
</nav>


<!-- Modal Crear Grupo -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-row">
              <label for="inputNombreG">Nombre del Grupo</label>
              <input ngModel type="text" class="form-control" id="inputNombreG" placeholder="Nombre del Grupo"
                name="nombre" #nombre="ngModel">
          

                <label for="inputMunicipio">Municipio</label>
                <select id="inputMunicipio" class="form-control" name="municipio" #municipio="ngModel" ngModel>
                  <option selected>Baruta</option>
                  <option>Sucre</option>
                  <option>El Hatillo</option>
                </select>
      
                <label for="inputUrbaniacion">Urbanizacion</label>
                <input type="text" class="form-control" id="inputUrbanizacion" placeholder="Urbanizacion" name="urbanizacion" #urbanizacion="ngModel" ngModel>
      
                  <label for="inputDescripcion">Descripcion</label>
                  <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" name="descripcion" #descripcion="ngModel" ngModel> 
                  <br>
                  <br>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal Unirse a Grupo -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Unirse a Grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(form2)" #form2="ngForm">
          <div class="form-row">
              <label for="inputCodigoG">Código del Grupo</label>
              <input ngModel type="text" class="form-control" id="inputCodigoG" placeholder="Código del Grupo"
                name="nombre" #nombre="ngModel">
                  <br>
                  <br>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div> 