blockquote {
  margin: auto;
  width: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  padding: 20px;
  text-transform: uppercase;
}

p {
  color: white;
  width: 90%;
  margin: 8px auto;
  font-size: 17px;
}

button {
    background: darkgrey;
    color: black;
    justify-content: center;
    border-radius: 5px;
    font-size: 17px;
    margin: 8px auto;
  
  }
  
  button:hover {
    background: darkred;
    color: white;
  }
  
  button:active {
    background: black;
    color: white;
  }

input {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  width: 90%;
  margin: 8px auto;
  font-size: 15px;
}

a {
  color: aqua;
  font-size: 17px;
  margin-bottom: 8px;
}

.centrado {
  background: #2b2b2a;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  align-content: center;
  vertical-align: middle;
}

form {
  align-items: center;
  background-color: #5d4954;
  font-family: 'Poppins', sans-serif;
  border: 1px solid black;
  max-width: 500px;
  border-radius: 10px;
  width: 40%;
  margin: auto;
}

footer {
  background: #2b2b2a;
  color: rgb(226, 226, 266);
}

.footer h3 {
  text-align: left;
  color: rgb(226, 226, 266);
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  margin: 30px 0px;
}

.centro {
  text-align: center;
  vertical-align: middle;
  font-size: 8px;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }

  input {
    font-size: 13px;
  }

  button {
    font-size: 13px;
  }
}

@media (max-width: 512px) {
  form {
    flex-direction: column;
  }

  h2 {
    font-size: 15px;
    margin-bottom: 0px;
  }

  p {
    display: none;
  }

  input {
    font-size: 13px;
    margin: 3px;
  }

  button {
    font-size: 10px;
  }
}
