<div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form>
    <h2>Regístrate!</h2>
    <blockquote>
      <p><b>Ingresa tu Nombre de Usuario</b></p>
      <input type="text" size="35" maxlength="70" placeholder="Usuario">
      <p><b>Ingresa tu Correo Electronico</b></p>
      <input type="text" size="35" maxlength="70" placeholder="Correo">
      <p><b>Ingresa tu Contraseña</b></p>
      <input type="text" size="35" maxlength="70" placeholder="Contraseña">
      <p><b>Repite tu Contraseña</b></p>
      <input type="text" size="35" maxlength="70" placeholder="Contraseña">
    </blockquote>
    <div class="centro">
      <small>
        <p>¿Ya tienes un Usuario?</p>
        <a href="Login.html">Inicia Sesión!</a>
        <br>
      </small>
      <br>
      <button><b>Registrarse</b></button>
    </div>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
