<div class="centrado">
  <br>
  <br>
  <form class="formulario">
    <h2 class="text-center">Nombre</h2>
    <h3>Información Personal</h3>
    <blockquote>
      <p>Nombre: {{this.usuario.nombre}} </p>
      <p>Edad: {{this.usuario.edad}} </p>
      <p>Cédula: {{this.usuario.cedula}} </p>
      <p>Teléfono: {{this.usuario.telefono}} </p>
      <p>Correo: {{this.usuario.correo}} </p>
      <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal"
        data-target="#modal3">Editar</button>
    </blockquote>
    <h3>Información del Vehiculo</h3>
    <blockquote>
      <p>Placa: {{this.carro.placa}}</p>
      <p>Marca: {{this.carro.marca}}</p>
      <p>Modelo: {{this.carro.modelo}}</p>
      <p>Color: {{this.carro.color}}</p>
      <p>Año: {{this.carro.ano}}</p>
      <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal"
      data-target="#modal4">Editar</button>
    </blockquote>
    <h3>Dirección</h3>
    <blockquote>
    <p>Municipio: {{this.direccion.municipio}}</p>
    <p>Urbanizacion: {{this.direccion.urbanizacion}}</p>
    <p>Descripcion: {{this.direccion.descripcion}}</p>
    <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal"
    data-target="#modal5">Editar</button>
    </blockquote>
  </form>
</div>

<footer>
  <div class="row footer">
    <div class="col-4 p-5">
      <h3 class="text-light">MetroUber</h3>
      <br>
    </div>
  </div>
</footer>

<!-- Modal Editar Datos Personales -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Información Personal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="form-row">
            <label for="inputNombre">Nombre</label>
            <input size="35" maxlength="70" class="form-control" placeholder="Usuario" type="text" name="username" #username="ngModel" [(ngModel)]="this.usuario.nombre"
            required>
            <label for="inputEdad">Edad</label>
            <input size="35" maxlength="70" class="form-control" placeholder="Edad" type="text" name="age" #age="ngModel" [(ngModel)]="this.usuario.edad"
            required>
            <label for="inputCedula">Cedula</label>
            <input size="35" maxlength="70" class="form-control" placeholder="Cedula" type="text" name="cedula" #cedula="ngModel" [(ngModel)]="this.usuario.cedula"
            required>
            <label for="inputTelefono">Telefono</label>
            <input size="35" maxlength="70" class="form-control" placeholder="Telefono" type="text" name="phone" #phone="ngModel" [(ngModel)]="this.usuario.telefono"
            required>
            <label for="inputMunicipio">Municipio</label>
            <select id="inputMunicipio" class="form-control" name="municipio" #municipio="ngModel" ngModel>
              <option selected>Baruta</option>
              <option>Sucre</option>
              <option>El Hatillo</option>
            </select>
            <label for="inputUrbanizacion">Urbanizacion</label>
            <input type="text" class="form-control" id="inputUrbanizacion" placeholder="Urbanizacion" name="urbanizacion" #urbanizacion="ngModel" ngModel>
              <label for="inputDescripcion">Descripcion</label>
              <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" name="descripcion" #descripcion="ngModel" ngModel> 
              
            <br>
            <button type="submit" class="btn btn-primary espacio">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary espacio" data-dismiss="modal">Cancelar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Datos Carros -->
<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Información del Vehículo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="onSubmit2(form2)" #form2="ngForm">
                <div class="form-row">
                  <label for="inputPlaca">Placa</label>
                  <input size="35" maxlength="70" class="form-control" placeholder="Placa" type="text" name="placa" #placa="ngModel" [(ngModel)]="this.carro.placa"
                  required>
                  <label for="inputMarca">Marca</label>
                  <input size="35" maxlength="70" class="form-control" placeholder="Marca" type="text" name="marca" #marca="ngModel" [(ngModel)]="this.carro.marca"
                  required>
                  <label for="inputModelo">Modelo</label>
                  <input size="35" maxlength="70" class="form-control" placeholder="Modelo" type="text" name="modelo" #modelo="ngModel" [(ngModel)]="this.carro.modelo"
                  required>
                  <label for="inputColor">Color</label>
                  <input size="35" maxlength="70" class="form-control" placeholder="Color" type="text" name="color" #color="ngModel" [(ngModel)]="this.carro.color"
                  required>
                  <label for="inputAno">Año</label>
                  <input size="35" maxlength="70" class="form-control" placeholder="Ano" type="text" name="ano" #ano="ngModel" [(ngModel)]="this.carro.ano"
                  required>
                  <br>
                  <button type="submit" class="btn btn-primary espacio">Guardar Cambios</button>
                  <button type="button" class="btn btn-secondary espacio" data-dismiss="modal">Cancelar</button>
                </div>
              </form>
      
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Editar Datos de Direccion -->
<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Dirección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit3(form3)" #form3="ngForm">
          <div class="form-row">
            <label for="inputMunicipio">Municipio</label>
            <select id="inputMunicipio" class="form-control" name="municipio" #municipio="ngModel" [(ngModel)]="this.direccion.municipio">
              <option selected>Baruta</option>
              <option>Sucre</option>
              <option>El Hatillo</option>
            </select>
            <label for="inputUrbanizacion">Urbanizacion</label>
            <input type="text" class="form-control" id="inputUrbanizacion" placeholder="Urbanizacion" name="urbanizacion" #urbanizacion="ngModel" [(ngModel)]="this.direccion.urbanizacion">
              <label for="inputDescripcion">Descripcion</label>
              <input type="text" class="form-control" id="inputDescripcion" placeholder="Descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="this.direccion.descripcion"> 
              
            <br>
            <button type="submit" class="btn btn-primary espacio">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary espacio" data-dismiss="modal">Cancelar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
      
