<div class="centrado">
  <div class="container text-center">
    <br>
    <div>
      <div class="card text-center unica">
        <div class="card-block">
          <div class="card-tittle">
            <h2>Solicitudes de Cola</h2>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Municipio</th>
                <th scope="col">Urbanizacion</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Grupo</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <th scope="row">{{usuario.nombre}}</th>
                <td>{{usuario.telefono}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.municipio}}</td>
                <td>{{usuario.urbanizacion}}</td>
                <td>{{usuario.descripcion}}</td>
                <td>{{usuario.grupo}}</td>
                <td>
                  <button href="#" class="btn btn-success" [disabled]="conCarro(usuario)">Finalizada</button>
                </td>
              </tr>
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>

  </div>

  <script type="js/bootstrap.min.js"></script>

</div>

<footer>
  <div class="row footer">
    <div class="col-4 p-5">
      <h3 class="text-light">MetroUber</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</footer>