.centrado {

  background: #2b2b2a;
  background-position: center;
}

.espacio{
  padding: 10px;
  margin: 2px 2px;
  display: inline-block;
}

.sangria{
  margin:auto 40px;
}

.sangriafuerte{
  margin:auto 100px;
}

.unica{
width: 70%;
margin: auto;
}

.container {

  background: #333333;
  position: relative;
  border: 1px solid #4e4d4d;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: inset 0 0 10px #000;
  margin: auto;
  padding-bottom: 50px;
}

.container h2 {
  text-align: center;
  color:black;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0px;
}

.list-group {
  margin: auto;

}

a {
  display: inline-block;
  margin: 1px;
}

footer {
  background: #2b2b2a;
  color: rgb(226, 226, 266);
}

.footer h3 {
  text-align: left;
  color: rgb(226, 226, 266);
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  margin: 30px 0px;
}

.fondo{
  background: white;
  text-align: center;
  color:black;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  margin: 5px 0px;

}